*{
    margin: 0;
    padding:0;
}
.header {
    
    position:relative;
}
.icon {
    position:relative;
min-width:100%;
min-height: 100vh;
}
.cover {
    min-height:100vh;
    width:100%;
    background-image: linear-gradient(rgba(#F53803),rgba(#F53803));
    background-position: center;
    background-size: cover;
    position:relative;
}
.title-colour {
    color: #F53803;

}
.title-of-app {
    color: antiquewhite;
}