.flags {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meals {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

a img {
    width: 50px;
    height: auto;
    box-shadow: 2px 2px 2px 2px gray;
}

div a {
    transition: transform .2s;
}

div a:hover {
    transform: scale(1.1);
}

.meal1 {
    cursor:pointer
}
