/* Fonts */
:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Roboto", sans-serif;
    --font-secondary: "Work Sans", sans-serif;
}

/* Colors */
:root {
    --color-default: #364d59;
    --color-primary: #feb900;
    --color-secondary: #52565e;
}

/* Smooth scroll behavior */
:root {
    scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
    z-index: 997;
    position: absolute;
    padding: 30px 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .header .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
  
  .header .logo h1 {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 0;
    font-family: var(--font-primary);
  }
  
  .header .logo h1 span {
    color: var(--color-primary);
  }

/*--------------------------------------------------------------
# Desktop Navigation
--------------------------------------------------------------*/
@media (min-width: 1280px) {
    .navbar {
      padding: 0;
    }
  
    .navbar ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      align-items: center;
    }
  
    .navbar li {
      position: relative;
    }
  
    .navbar>ul>li {
      white-space: nowrap;
      padding: 10px 0 10px 28px;
    }
  
    .navbar a,
    .navbar a:focus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 3px;
      font-family: var(--font-primary);
      font-size: 14px;
      font-weight: 500;
      color: rgba(255, 255, 255, 0.6);
      text-transform: uppercase;
      white-space: nowrap;
      transition: 0.3s;
      position: relative;
    }
  
    .navbar a i,
    .navbar a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
    }
  
    .navbar>ul>li>a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -6px;
      left: 0;
      background-color: var(--color-primary);
      visibility: hidden;
      width: 0px;
      transition: all 0.3s ease-in-out 0s;
    }
  
    .navbar a:hover:before,
    .navbar li:hover>a:before,
    .navbar .active:before {
      visibility: visible;
      width: 100%;
    }
  
    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
      color: #fff;
    }

    @media (min-width: 1280px) {

        .mobile-nav-show,
        .mobile-nav-hide {
          display: none;
        }
      }
}

/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
@media (max-width: 1279px) {
    .navbar {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      max-width: 400px;
      bottom: 0;
      transition: 0.3s;
      z-index: 9997;
    }
  
    .navbar ul {
      position: absolute;
      inset: 0;
      padding: 50px 0 10px 0;
      margin: 0;
      background: rgba(0, 0, 0, 0.8);
      overflow-y: auto;
      transition: 0.3s;
      z-index: 9998;
    }
  
    .navbar a,
    .navbar a:focus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      font-family: var(--font-primary);
      font-size: 15px;
      font-weight: 500;
      color: rgba(255, 255, 255, 0.7);
      white-space: nowrap;
      text-transform: uppercase;
      transition: 0.3s;
    }
  
    .navbar a i,
    .navbar a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
    }
  
    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
      color: #fff;
    }
  
   .mobile-nav-show {
      position: relative;
      color: #fff;
      font-size: 28px;
      cursor: pointer;
      line-height: 0;
      transition: 0.5s;
      z-index: 9999;
      padding-right: 10px;
    }
  
    .mobile-nav-hide {
      color: #fff;
      font-size: 32px;
      cursor: pointer;
      line-height: 0;
      transition: 0.5s;
      position: fixed;
      right: 20px;
      top: 20px;
      z-index: 9999;
    }
  
    .mobile-nav-active {
      overflow: hidden;
    }
  
    .mobile-nav-active .navbar {
      right: 0;
    }
  
    .mobile-nav-active .navbar:before {
      content: "";
      position: fixed;
      inset: 0;
      background: rgba(0, 0, 0, 0.6);
      z-index: 9996;
    }
  }
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: var(--font-default);
    color: var(--color-default);
    overflow-x: hidden;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    color: #ffc732;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    overflow-x: hidden;
    padding: 0;
}

.hero .carousel {
    width: 100%;
    min-height: 100vh;
    padding: 80px 0;
    margin: 0;
    position: relative;
}

.hero .carousel-item {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 1;
    transition-duration: 0.4s;
}

.hero .carousel-item::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    inset: 0;
}

.hero .info {
    position: absolute;
    inset: 0;
    z-index: 2;
}

@media (max-width: 768px) {
    .hero .info {
        padding: 0 50px;
    }
}

.hero .info h2 {
    color: #fff;
    margin-bottom: 30px;
    padding-bottom: 30px;
    font-size: 56px;
    font-weight: 700;
    position: relative;
}

.hero .info h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 4px;
    background: var(--color-primary);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

@media (max-width: 768px) {
    .hero .info h2 {
        font-size: 36px;
    }
}

.hero .info p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
}

.hero .info .btn-lets-go {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    border: 2px solid var(--color-primary);
}

.hero .info .btn-lets-go:hover {
    background: var(--color-primary);
}

.hero .carousel-control-prev {
    justify-content: start;
}

@media (min-width: 640px) {
    .hero .carousel-control-prev {
        padding-left: 15px;
    }
}

.hero .carousel-control-next {
    justify-content: end;
}

@media (min-width: 640px) {
    .hero .carousel-control-next {
        padding-right: 15px;
    }
}

.hero .carousel-control-next-icon,
.hero .carousel-control-prev-icon {
    background: none;
    font-size: 26px;
    line-height: 0;
    background: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.6);
    border-radius: 50px;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .carousel-control-prev,
.hero .carousel-control-next {
    z-index: 3;
    transition: 0.3s;
}

.hero .carousel-control-prev:focus,
.hero .carousel-control-next:focus {
    opacity: 0.5;
}

.hero .carousel-control-prev:hover,
.hero .carousel-control-next:hover {
    opacity: 0.9;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    inset: 0;
    z-index: 999999;
    overflow: hidden;
    background: #fff;
    transition: all 0.6s ease-out;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #fff;
    border-color: var(--color-primary) transparent var(--color-primary) transparent;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1.5s linear infinite;
    animation: animate-preloader 1.5s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/
.scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: var(--color-primary);
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.scroll-top i {
    font-size: 24px;
    color: var(--color-secondary);
    line-height: 0;
}

.scroll-top:hover {
    background: #ffc732;
    color: #fff;
}

.scroll-top.active {
    visibility: visible;
    opacity: 1;
}

/*--------------------------------------------------------------
# Lets-go Section
--------------------------------------------------------------*/
.lets-go .content {
    padding: 15px 0;
}

.lets-go .content h3 {
    font-size: 36px;
    color: var(--color-secondary);
    font-weight: 600;
    margin-bottom: 25px;
    padding-bottom: 16px;
    position: relative;
}

.lets-go .content h3:after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 4px;
    background: var(--color-primary);
    left: 0;
    bottom: 0;
}

.lets-go .content p {
    font-size: 14px;
}

/*--------------------------------------------------------------
# Flags Section
--------------------------------------------------------------*/
.flags img {
    width: 80px;
    height: auto;
    box-shadow: 2px 2px 2px 2px gray;
}

.flags {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "flag flag flag flag flag flag flag"
        "flag flag flag flag flag flag flag"
        "flag flag flag flag flag flag flag"
        "flag flag flag flag flag flag flag";
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}


.flags a {
    transition: transform .2s;
}

.flags a:hover {
    transform: scale(1.3);
}

@media only screen and (max-width: 550px) {
    .flags {
        gap: 10px;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-areas:
            "flag flag flag flag"
            "flag flag flag flag"
            "flag flag flag flag"
            "flag flag flag flag"
            "flag flag flag flag"
            "flag flag flag flag"
            "flag flag flag flag";

    }

    .flags img {
        width: 60px;
        height: auto;
        box-shadow: 1px 1px 1px 1px gray;
    }

}

@media only screen and (max-width: 400px) {
    .flags {
        gap: 10px;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-areas:
            "flag flag flag flag"
            "flag flag flag flag"
            "flag flag flag flag"
            "flag flag flag flag"
            "flag flag flag flag"
            "flag flag flag flag"
            "flag flag flag flag";

    }

    .flags img {
        width: 60px;
        height: auto;
        box-shadow: 1px 1px 1px 1px gray;
    }

}

@media only screen and (max-width: 280px) {
    .flags {
        gap: 10px;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto auto auto auto auto;
        grid-template-areas:
            "flag flag flag flag"
            "flag flag flag flag"
            "flag flag flag flag"
            "flag flag flag flag"
            "flag flag flag flag"
            "flag flag flag flag"
            "flag flag flag flag"
            "flag flag flag flag";

    }

    .flags img {
        width: 40px;
        height: auto;
        box-shadow: 1px 1px 1px 1px gray;
    }

}

/*--------------------------------------------------------------
# Meals CSS Section
--------------------------------------------------------------*/

.btn-meal {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 18px;
    border-radius: 50px;
    transition: 0.5s;
    color: #000;
    border: 2px solid var(--color-primary);
}

.btn-meal:hover {
    background: var(--color-primary);
}

.card-body h5 {
    font-family: var(--font-primary);
    font-weight: 400;
}

h2#meal-origin::after,
h2#meal-title::after {
    content: "";
    position: absolute;
    display: block;
    width: 85px;
    height: 4px;
    background: var(--color-primary);
    /* left: calc(50% - 30px); */
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.p-2 p {
    padding: 0px;
}

#meal-image img {
    object-fit: cover;
}

#ingredients-scroll {
    overflow-y: auto;
    height: 883px;
}


.social-links a {
    font-size: 18px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    color: var(--color-primary);
    line-height: 1;
    margin-right: 8px;
    border-radius: 4px;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

.social-links a:hover {
    background: var(--color-primary);
    color: #fff;
    text-decoration: none;
}


.ingredients .info-item {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
    padding: 20px 0 30px 0;
}

.ingredients .info-item h3 {
    font-size: 20px;
    color: #6c757d;
    font-weight: 700;
    margin: 10px 0;
}

.ingredients .info-item p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# Sections 
--------------------------------------------------------------*/
section {
    padding: 80px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #f5f6f7;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/

.breadcrumbs {
    padding: 140px 0 60px 0;
    min-height: 30vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.breadcrumbs:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    inset: 0;
}

.breadcrumbs h2 {
    font-size: 56px;
    font-weight: 500;
    color: #fff;
    font-family: var(--font-secondary);
}